# Servidor
PORT=8081
HOST=localhost

# Banco de dados
DATABASE_URL_USER=postgresql://user:password@localhost:5432/user_service

# Seed inicial (job migrate-test)
USER_ROLES='[{"roleName":"Admin","roleDescription":"Acesso total ao sistema"},{"roleName":"User","roleDescription":"Pode consultar e visualizar itens"}]'
ADMIN_DATA=[{"firstName":"Admin","lastName":"Teste","email":"admin@teste.com"}]
ADMIN_PASSWORD=SenhaForte@123

# AuthService
AUTH_SERVICE_URL_DEV=http://localhost:8082
AUTH_SERVICE_URL_PROD=

# EmailService
EMAIL_SERVICE_URL_DEV=http://localhost:8083
EMAIL_SERVICE_URL_PROD=

# Caminho para os repositórios de teste (opcional — só para usar versões locais em vez de puxar do GitHub)
AUTH_MOCK_GIT=
EMAIL_MOCK_GIT=
API_TESTS_GIT=

# Ativar mocks (opcional — para ativar envio de x-mock-scenario ao AuthService e EmailService)
ACTIVE_MOCK=true